body{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
}

label {
    margin-left: 10px;
}
form{
    display: flex;
    justify-content: space-around;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    margin-right: 10px;
}

.person-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    border: 4px solid #0087ca;
    margin: 10px;
}


p {
    font-size: 20px;
}

.hover-underline-animation{
    background-image: linear-gradient(90deg, black, 20%, #0087ca);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
  }

.hover-underline-animation:hover{
    background-size: 100% 3px;
  }


  @media(max-width: 1000px){
    p{
        font-size: 13px;
    }
  }

  @media(max-width: 800px){
    .person-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
        border-radius: 25px;
        border: 4px solid #0087ca;
        margin: 10px;
    }
    form {
        flex-direction: column;
    }
  }

  @media(max-width: 600px){
    body{
        padding: 10%;
    }
  }